<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <br>
<div class="table-responsive-sm">
<table  border="1" style="width:80%">
  <thead>
    <th>id</th>
    <th>age</th>
    <th>username</th>
    <th>salary</th>
    <th>firstname</th>
    <th>lastname</th>
    <th>role</th> 
  </thead>
  <tbody>
    <tr>
      <td>{{list.id}}</td>
      <td>{{list.age}}</td>
      <td>{{list.username}}</td>
      <td>{{list.salary}}</td>
      <td>{{list.firstName}}</td>
      <td>{{list.lastName}}</td>
      <td>{{list.rol.roleName}}</td>   
    </tr> 
  </tbody>
</table>
</div>
 